<!DOCTYPE>
<html>
    <header></header>
    <body>
        <div>
            <h1> EmpacoAvicola C.A </h1>
            <div class="navBarContainer">
                <ul class="navbar">
                    <li>
                        <?= $this->HTML->link('Empresas', ['controller' => 'MEmpresas', 'action' => 'index']); ?>
                    </li>
                    <li>
                        <?= $this->HTML->link('Facturas', ['controller' => 'MFacturas', 'action' => 'index']); ?>
                    </li>
                    <li>
                        <?= $this->HTML->link('Pagos', ['controller' => 'MPagos', 'action' => 'index']); ?>
                    </li>
                        <li>Totales</li>
                        <button class="btn-primary">PRUEBA</button>
                </ul>
            </div>
        </div>
    </body>
</html>